---
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";

import { PROJECTS } from "../consts";
---

<Layout title="Nehuén's portfolio">
  <main class="mx-auto max-w-content px-6 pt-24">
    <Header />

    <section class="mb-16">
      <h1 class="text-4xl font-medium tracking-tight text-zinc-900 dark:text-zinc-100">
        My <span class="text-zinc-700 dark:text-zinc-300">projects</span> 🚀
      </h1>
      <p class="mt-6 text-lg leading-relaxed text-zinc-600 dark:text-zinc-400">
        Look at all the projects I am involved in.
      </p>
    </section>

    <section class="mb-16">
      <div class="grid gap-6">
        {PROJECTS.map(project => (
          <Project {...project} />
        ))}
      </div>
    </section>

    <Footer />
</Layout>