---
---

<header class="py-6 border-b border-dark-100">
    <nav class="w-full max-w-4xl mx-auto px-4 md:px-8">
      <div class="flex justify-between items-center">
        <a href="/" class="text-xl font-light text-white hover:text-gray-300 transition-colors duration-300">
          nehuén
        </a>
        
        <div class="flex space-x-8">
          <a href="/" class="text-gray-400 hover:text-white transition-colors duration-300 font-mono text-sm">
            home
          </a>
          <a href="/blog" class="text-gray-400 hover:text-white transition-colors duration-300 font-mono text-sm">
            blog
          </a>
        </div>
      </div>
    </nav>
  </header>